html
  head
    style
      include style.css
  body
    .container
      .header
        span.title.bold CAEBES
        span.date #{date}
      hr.top
      each vehicle in units
        div(class='data vehicle')
          .name
            span.name #{vehicle.unit}
          .stats
            p 
              span.bold Distancia
              span.secondary : #{vehicle.distance}km
            p 
              span.bold Tiempo de encendido de motor
              span.secondary : #{vehicle.engine}
            p 
              span.bold Uso de combustible aproximado
              span.secondary : #{vehicle.gas}L
          .speeds(data-speed=vehicle.speeds)
            canvas.chart
        hr
    script(src='node_modules/chart.js/dist/Chart.bundle.min.js')
    script(src='app.js')
