html
  head
    style
      include style.css
  body
    .container
      .header
        span.title.bold CAEBES
        span(class="date clearfix") #{date}
      hr.top
      each vehicle in units
        div(class='data vehicle')
          div(class='head clearfix')
            .name
              span #{vehicle.unit}
            .stats
              p 
                span.bold Distancia
                span.secondary : #{vehicle.distance}km
              p 
                span.bold Tiempo de encendido de motor
                span.secondary : #{vehicle.engine}
              p 
                span.bold Uso de combustible aproximado
                span.secondary : #{vehicle.gas}L
            img(src=vehicle.graph, alt="")
        hr
