html
  head
    style(media="screen, print")
      include style.css
  body
    .container
      div(class="header clearfix")
        h1 CAEBES
        span(class="date") #{date}
      hr.top
      each vehicle in units
        div(class='data vehicle')
          div(class='head clearfix')
            .name
              p #{vehicle.unit}
            .stats
              p 
                span.bold Distancia
                span.secondary : #{vehicle.distance}km
              if (vehicle.gpsModel != 'qbit')
                - var fuels = ['magna', 'premium', 'diesel'];
                p 
                  span.bold Tiempo de encendido de motor
                  span.secondary : #{vehicle.engine}
                p 
                  span.bold Uso de combustible aproximado
                  span.secondary : #{vehicle.gas}L ($#{Math.round((fuelPrices[fuels[vehicle.fuelType]] * vehicle.gas) * 100) / 100})
              p
                span.bold Velocidad máxima
                span.secondary : #{vehicle.speedMax} km/hr
              p
                span.bold Kilometraje
                span.secondary : #{vehicle.kilometraje} km
        hr
